# ## User settings
# *.xcodeproj/*.xcworkspace/xcuserdata/
# *.xcuserstate

# ## Xcode 8 and earlier
# *.xcscmblueprint
# *.xccheckout

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
*.xcuserstate
*.xcworkspace
**/*.xcworkspace
# git rm --cached *.xcodeproj/project.xcworkspace/xcuserdata/*
# git rm --cached *.xcodeproj/xcshareddata
# git rm --cached *.xcodeproj/xcshareddata

*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcshareddata
*.xcodeproj/xcshareddata
build/